.header__nav__item{
    
    img{
        height: 30px;
        margin-bottom: 5px;
        @media screen and(max-width:920px){
            display: none;
        }
    }
}

.nav__header__list li a {
    @media screen and(max-width:920px){
        padding-top: 8px;
        padding-bottom: 0;
    }

}
.kv__ttl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main{
    background: url(../img/bg-wave.png) center top 60px repeat-y,url(../img/body-bg.jpg) center top;
}
.section__ttl{
    display: block;
    text-align: center;
    img{

        @media screen and(max-width:920px){
        width: 25%;
        }
    }
}
.coming-soon{
    font-size: xx-large;
}
.nav__header{
    align-self: center;
}

.header__facebook{
    margin-top: 2rem;
}

@media screen and (max-width: 767px){
    .nav__header__list li a::before {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 60px;
        
    }
    .menu-1::before{
        content: url(../img/menu-icon1-sp.png);
    }
    .menu-2::before{
        content: url(../img/menu-icon2-sp.png);
    }
    .menu-3::before{
        content: url(../img/menu-icon3-sp.png);
    }
    .menu-4::before{
        content: url(../img/menu-icon4-sp.png);
    }
    .menu-5::before{
        content: url(../img/menu-icon5-sp.png);
    }
    .menu-6::before{
        content: url(../img/menu-icon6-sp.png);
    }
    .menu-7::before{
        content: url(../img/menu-icon7-sp.png);
    }
    .menu-8::before{
        content: url(../img/menu-icon8-sp.png);
    }
    .nav__header__list li a{
        display: flex;
    }
    .header__facebook::before{
        content: "";
        margin-left: 10px;
    }
}
@media screen and (max-width: 480px){
    .kv__left{
        width: 50%;
    }
    .kv__right{
        width: 50%;
    }
}
